{% extends 'admin/目录.html' %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load staticfiles %}
{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static 'bfb/css/community.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bfb/css/jquery-confirm-332-min.css' %}">
{% endblock %}
  {% block title %}
<title>想说点什么呢</title>{% endblock %}
  {% block js %}
<script type="text/javascript" src="{% static 'bfb/javascript/jquery-confirm-332-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bfb/javascript/error_alert.js' %}"></script>
<script>
    $(function () {
        $("#directory").css({"background": "rgba(127,62,252,0.62)"});
        let error = '{{ message|safe }}';
        if (error) {publish_error(error);}
        let is_super = '{{ is_super|safe }}';
        if (is_super == "False") {
          let options = $($("select").children());
          options.eq(0).attr('disabled', 'disabled');
          options.eq(1).attr('selected', 'selected');
        }
    })
</script>
  {% endblock %}
</head>

<body>
{% block content %}
<div class="register_form">
  <form id="articlePublish_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>想说点什么呢？</h2>
    <div class="form-inline">
      {{ publish_form.headline.label_tag }}
      {{ publish_form.headline }}
    </div>
    <div class="form-inline">
      {{ publish_form.body.label_tag }}
      {{ publish_form.body }}
    </div>
    <div class="form-inline">
      {{ publish_form.label_tag.label_tag }}
      {{ publish_form.label_tag }}
    </div>
    <div class="form-inline">
      {{ publish_form.picture.label_tag }}
      {{ publish_form.picture }}
      <script src="{% static 'bfb/javascript/file_input_detect.js' %}"></script>
    </div>
    <button type="submit" class="btn btn-outline-dark" id="articleSubmit">发表</button>
    <script type="text/javascript">
      $(function () {
        $("#articleSubmit").confirm({
          title: '<p style="color: #ffa768">提示</p>',
          content: '<p style="color: gray">确认发布？</p>',
          buttons: {
            "确认": function () {
              if( test("id_picture", 3072) ){
                $("#articlePublish_form").submit();
                // alert("提交成功！");
              }
            },
            "再看看": function () {},
          }
        });
      })
    </script>
  </form>
</div>

{% endblock %}
</body>

</html>
